<article class="product">
  <div class="product-cover">
    <h2 class="product-title">Pepperoni Pizza</h2>
    <p class="product-text">
      Premium pepperoni and cheese is made with real mozzarella on original
      hand-tossed crust.
    </p>
    <ul class="product-count-list list">
      <li class="product-count-item">265 Cal</li>
      <li class="product-count-item">P/F/C: 12/10/31</li>
      <li class="product-count-item">53.8 °C</li>
    </ul>
    <div class="prices-cover">
      <ul class="product-prices-list list">
        <li class="price-now-item">$23.90</li>
        <li class="price-before-item">$29.90</li>
      </ul>
      <button type="button" class="product-btn">ORDER</button>
    </div>
  </div>
</article>
